.react-tagsinput {
  margin-top: 18px;
  border-radius: 4px;
}
.react-tagsinput-input {
  width: auto !important;
  height: 42px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400 !important;
  font-size: 1rem !important;
  line-height: 1.4375em !important;
  letter-spacing: 0.00938em !important;
}

